#user {
    -fx-text-inner-color: white;
}
#password{
    -fx-text-inner-color: white;
-fx-opacity: 1.0;

}
.registerText{
    -fx-text-inner-color: white;
    -fx-text-fill: rgb(255, 255,255);
}

.button{
    -fx-background-color:  #7289da;
    -fx-background-radius:  3px;
     transition: all 1s;
}

.button:hover{
    -fx-background-color: #a5acb7;
    -fx-text-fill : #e5efff;
}

#buttonSignIn {
    -fx-background-color: #e6e6e6;
}
#buttonSignIn:hover{
    -fx-background-color: #b5d0fc;
}
.cancel{
    -fx-background-color: #ef572d;
}
.cancel:hover{
    -fx-background-color: #c41805;
}
.forget{
    -fx-background-color: rgba(0,0,0,0);
}
.forget:hover{
    -fx-text-fill : #e5efff;
    -fx-background-color: rgba(0,0,0,0);
}
.boutton_fermer{
    -fx-background-color: rgba(201, 209, 221, 0.6);
}
.boutton_fermer:hover{
        -fx-background-color: rgba(201, 209, 221, 0.9);
}
#anshor{
    -fx-background-image:url("image/friend2.jpg")
}
#monansh{
    -fx-background-image:url("image/register3..jpg")
}